@use '../../styles/fonts/fonts'
@use '../../styles/variables/font-sizes'
@use '../../styles/variables/colors'

.nav
  width: 100vw
  display: flex
  justify-content: space-evenly
  background-color: colors.$light-grey

.nav__side
  display: flex
  align-items: center

.nav__el
  font-family: 'Montserrat'
  font-size: font-sizes.$nav_el
  margin: 19px
  color: colors.$dark
  text-decoration: none
  transition: 0.2s ease-in-out

.nav__el:hover
  opacity: 0.7
  transition: 0.2s ease-in-out


.title
  font-family: 'Press Start 2P'
  font-size: font-sizes.$midTitle
  color: colors.$accent
  text-align: center
