@use '../../styles/fonts/fonts'
@use '../../styles/variables/colors'

body
  margin: 0
  padding: 0
  box-sizing: border-box
  background: colors.$light-grey

.App
  font-family: "Montserrat", Arial, sans-serif
