@use '../../../styles/variables/colors'
@use '../../../styles/variables/common'

.form__background
  display: flex
  flex-direction: column
  align-items: center

  padding: common.$formPadding

  border-radius: common.$borderRadius
  background-color: colors.$primary
